PORT=5000
MONGO_URI=mongodb+srv://sivakumar:Siva123@cluster0.oidufho.mongodb.net/?appName=Cluster0
JWT_SECRET=d999f8364393719b
GEMINI_API_KEY=AIzaSyB-PSbWrfWPdwv3P2UUlHGJ4SJNxoOHQlE
ASSEMBLYAI_API_KEY=06861222f2e1414aaed8d5057c1bb5bc
FRONTEND_URL=https://mockwithsiva.vercel.app
BACKEND_URL=https://mock-with-siva.onrender.com
